


<%= render "navigation" %>

<% if flash[:data_creation] %>
  <div class="positive_flash">
    <%= flash[:data_creation] %>
  </div>
  <br>
<% end %>

<%= render "dataset_desc" %>

<br>
<br>
<br>

<div class="ui tree column grid">
  <div class="column" style="width:10%">
    </div>
  <div class="column" style="width:80%;background:whitesmoke;border-radius:5px;padding:40px;">
    <h3>

  Run a new training iteration for <%= @dataset.name %> Dataset</h3>

    <p>Select the features you want to consider when training the model</p>
    <% features = [] %>
    <% @es_data['hits']['hits'][0]['_source'].each do |attribute| %>
    <% features << attribute[0] %>
    <% end %>

  <%= form_tag('/models/proc', :method => 'get') do %>
  <% if @dataset.data_type != 'image' %>

  <% features.each do |feature| %>
    <% if feature != 'es_id' and feature != 'data_label' and feature != 'auto_label' and feature != 'auto_proba' and !feature.include?"human_label"%>

      <%= check_box("features", feature) %> <%= feature %>
      <br>
    <% end %>
  <% end %>
  <br>
  <% end %>


  <%= hidden_field_tag 'id', @dataset.id %>

  <div width="100%" align="right">
    <%= submit_tag 'Start' %>
  </div>
  <% end %>

</div>
<div class="column" style="width:10%">
  </div>
</div>
