



<br>


<div class="ui tree column grid">
  <div class="column" style="width:20%">
  </div>
  <div class="column" style="width:60%;background:whitesmoke;border-radius:5px;padding:40px;">
    <h3>Login</h3>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "ui form",enctype:"multipart/form-data"} )do |f| %>
    <table >
      <tr><td><%= f.label :email %></td><td><%= f.email_field :email, autofocus: true, autocomplete: "email",size: "40px" %></td></tr>
      <tr><td><%= f.label :password %></td><td><%= f.password_field :password, autocomplete: "current-password",size: "40px" %></td></tr>
      <tr>
        <td></td>
        <td align="left">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          <% end -%>
        </td></tr>
        <tr><td></td><td align="left"><%= f.submit "Log in" %></td></tr>
        <tr><td></td><td><br><%= render "devise/shared/links" %>
        </td>
      </tr>
    </table>
    <% end %>
  </div>
  <div class="column" style="width:20%"></div>
</div>
