
<% human_label_key = @dataset.es_id+'_human_label' %>

<%= render "dataset_desc" %>


<br>

<% attributes = [] %>

<% @data['hits']['hits'][0]['_source'].each do |attribute| %>
  <% attributes << attribute[0] %>
<% end %>

<%= form_tag("/update_docs", method: "post") do -%>
  <table>
    <tr>
      <td>
        <div class="buttons_bar_left">
          <a href = '/datasets' ><button class="button">My datasets</button></a>
          <a href = '/datasets/new' ><button class="button">Add dataset</button></a>
        </div>
      </td>
      <td>
        <div class="buttons_bar_right">
          <a href = '/datasets/<%= @dataset.id %>' ><button class="button">Dataset</button></a>
          <a href = '/seeds/<%= @dataset.id %>' ><button class="button">Check seed</button></a>
          <!--
          <a href = '/datasets/select_threshold/<%= @dataset.id %>' ><button class="button">Label seed</button></a>
          <a href = '/models/new/<%= @dataset.id %>' ><button class="button">Train</button></a>-->
          <%= submit_tag("Update labels") %>
        </div>
      </td>
    </tr>
  </table>
  <br>
<table class="responsive-table">
    <tr style="background-color:#e2e6e9">
      <th>Human label</th>
        <% attributes.each do |attribute| %>
          <% if attribute != 'es_id'%>
            <th>
              <% if attribute == human_label_key %>
                Human label
                        <% elsif attribute=='auto_proba'%>
          Confidence
              <% else %>

                <%= attribute  %>
              <% end %>
            </th>
          <% end %>
        <% end %>
    </tr>

    <% @c = 0 %>
    <% @data['hits']['hits'].each do |data_unit| %>
      <% if data_unit['_source']['auto_proba']==nil or (data_unit['_source']['auto_proba']!=nil and data_unit['_source']['auto_proba'].to_f.round(4)*100<params[:threshold].to_f) %>
        <% @c += 1 %>
        <tr>
          <td>
            <center><%= text_field_tag 'doc_'+data_unit['_id'], data_unit['_source']['human'] %></center>
          </td>
          <% attributes.each do |attribute| %>
            <% if attribute != 'es_id'%>
              <td>
                <% if human_label_key == attribute and data_unit['_source'][attribute]=='empty'%>


                <%else%>
                  <% if attribute == 'auto_proba' %>
                  <%= (data_unit['_source'][attribute].to_f*100).round(2) %>%
                  <progress value="<%= (data_unit['_source'][attribute].to_f).round(2) %>" max="1"> >
                  <% else %>



                   <%if data_unit['_source'][attribute]=='good' %>
                      <span style="background-color: lime;padding:1px;padding-right:4px;padding-left:4px;border-radius:2px;align-content: center;"><%= data_unit['_source'][attribute] %></span>
                  <% elsif data_unit['_source'][attribute]=='bad' %>
                  <span style="background-color: orangered;padding:1px;padding-right:4px;padding-left:4px;border-radius:2px;align-content: center;"><%= data_unit['_source'][attribute] %></span>
                  <%else%>


                  <%= data_unit['_source'][attribute] %>

                  <% end %>
                  <% end %>
                <%end%>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <%= hidden_field_tag 'data_id', @dataset.id %>
  </table>
<% end %>
<!--
<%= @c%>
-->
