
<div class="ui two column grid">
  <div class="column" style="width:60%">

    <a href = '/datasets/<%= @dataset.id %>' >
    <button class="ui mini blue button" style="background:#314455">
      <i class="folder open icon"></i>
      Dataset
    </button>
    </a>

    <a href = '/download/<%= @dataset.id %>' >
    <button class="ui mini blue button" style="background:#314455">
      <i class="download icon"></i>
      Download
    </button>
    </a>

    <a href = '/seeds/<%= @dataset.id %>' >
    <button class="ui mini blue button" style="background:#314455">
      <i class="tree icon"></i>
      Check seed
    </button>
    </a>
    <button class="ui mini blue button" style="background:#314455" onclick="document.getElementById('lables_form').submit();">
      <i class="save icon"></i>
      Update Labels
    </button>
  </div>


  <div class="column"  style="width:40%">
    <div align="right">
    <a href = '/datasets' >
    <button class="ui mini blue button" style="background:#314455">
      <i class="database icon"></i>
      My Datasets
    </button>
    </a>
    <a href = '/datasets/new' >
    <button class="ui mini blue button" style="background:#314455">
      <i class="arrow alternate circle down icon"></i>
      Import Dataset
    </button>
    </a>
    </div>
  </div>
</div>

<% human_label_key = @dataset.es_id+'_human_label' %>
<%= render "dataset_desc" %>

<% if @dataset.data_type == 'image'%>
  <%= form_tag("/update_docs", method: "post", id: "lables_form", class:"ui form") do -%>
  <%= hidden_field_tag 'data_id', @dataset.id %>


  <table class="ui sortable celled table">
  <thead>
    <tr>
    <th><b>#</b></th>
    <th><b>image #</th>
    <th><b>Auto Label</th>
    <th><b>Human Label</th>
  </tr>
  </thead>
  <tbody>


    <% if params[:only_unlabeled] == 'on' %>

      <% c=0%>
      <% @data['hits']['hits'].each do |data_unit| %>
        <% if data_unit['_source']['es_id'] == @dataset.es_id %>
          <% if data_unit['_source'][human_label_key] == '' ||  data_unit['_source'][human_label_key]=='empty' || data_unit['_source'][human_label_key]==nil %>
            <% if data_unit['_source']['auto_proba'].to_f.round(4) <= params[:threshold].to_f/100  and (c<@size) %>
              <tr>
                <td>
                  <%= c+1 %>
                  <% c+=1%>
                </td>
                <td>
                  <center>
                    <%image_file_name= data_unit['_source']['image_file'] %>
                    <img src="/datasets/<%= @dataset.es_id+'/'+image_file_name %>" width="600px"/>
                    <br>
                    <%= image_file_name %>
                  </center>
                </td>
                <td>
                  <%=data_unit['_source']['auto_label'] %>
                  <br>
                  <%= (data_unit['_source']['auto_proba'].to_f*100).round(2) %>%
                  <progress value="<%= (data_unit['_source']['auto_proba'].to_f).round(2) %>" max="1"> >
                </td>
                <td>
                  <% humna_label_to_display = data_unit['_source'][human_label_key] %>
                  <% humna_label_to_display = '' unless humna_label_to_display != 'empty' %>
                  <center><%= text_field_tag 'doc_'+data_unit['_id'], humna_label_to_display %></center>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

    <% else %>

      <% c=0%>
      <% @data['hits']['hits'].each do |data_unit| %>
        <% if data_unit['_source']['es_id'] == @dataset.es_id %>
            <% if data_unit['_source']['auto_proba'].to_f.round(4) <= params[:threshold].to_f/100  and (c<@size) %>
              <tr>
                <td>
                  <%= c+1 %>
                  <% c+=1%>
                </td>
                <td>
                  <center>
                    <%image_file_name= data_unit['_source']['image_file'] %>
                    <img src="/datasets/<%= @dataset.es_id+'/'+image_file_name %>" width="600px"/>
                    <br>
                    <%= image_file_name %>
                  </center>
                </td>
                <td>
                  <%=data_unit['_source']['auto_label'] %>
                  <br>
                  <%= (data_unit['_source']['auto_proba'].to_f*100).round(2) %>%
                  <progress value="<%= (data_unit['_source']['auto_proba'].to_f).round(2) %>" max="1"> >
                </td>
                <td>
                  <% humna_label_to_display = data_unit['_source'][human_label_key] %>
                  <% humna_label_to_display = '' unless humna_label_to_display != 'empty' %>
                  <center><%= text_field_tag 'doc_'+data_unit['_id'], humna_label_to_display %></center>
                </td>
              </tr>
            <% end %>
        <% end %>
      <% end %>

    <% end %>

  </table>
<% end %>

<% else %>

<% attributes = [] %>

<% @data['hits']['hits'][0]['_source'].each do |attribute| %>
  <% attributes << attribute[0] %>
<% end %>

<%= form_tag("/update_docs", method: "post", id: "lables_form", class:"ui form") do -%>


  <table class="ui sortable celled table">
  <thead>
    <tr>
      <th>Human label</th>
        <% attributes.each do |attribute| %>
          <% if attribute != 'es_id'%>
            <th>
              <% if attribute == human_label_key %>
                Human label
                        <% elsif attribute=='auto_proba'%>
          Confidence
              <% else %>

                <%= attribute  %>
              <% end %>
            </th>
          <% end %>
        <% end %>
    </tr>
    </thead>
    <tbody>

    <% @c = 0 %>
    <% @data['hits']['hits'].each do |data_unit| %>
      <% if data_unit['_source']['auto_proba']==nil or (data_unit['_source']['auto_proba']!=nil and data_unit['_source']['auto_proba'].to_f.round(4)*100<params[:threshold].to_f) %>
        <% @c += 1 %>
        <tr>
          <td>
            <center><%= text_field_tag 'doc_'+data_unit['_id'], data_unit['_source']['human'] %></center>
          </td>
          <% attributes.each do |attribute| %>
            <% if attribute != 'es_id'%>
              <td>
                <% if human_label_key == attribute and data_unit['_source'][attribute]=='empty'%>

                <%else%>
                  <% if attribute == 'auto_proba' %>
                  <%= (data_unit['_source'][attribute].to_f*100).round(2) %>%
                  <progress value="<%= (data_unit['_source'][attribute].to_f).round(2) %>" max="1"> >
                  <% else %>



                   <%if data_unit['_source'][attribute]=='good' %>
                      <span style="background-color: lime;padding:1px;padding-right:4px;padding-left:4px;border-radius:2px;align-content: center;"><%= data_unit['_source'][attribute] %></span>
                  <% elsif data_unit['_source'][attribute]=='bad' %>
                  <span style="background-color: orangered;padding:1px;padding-right:4px;padding-left:4px;border-radius:2px;align-content: center;"><%= data_unit['_source'][attribute] %></span>
                  <%else%>


                  <%= data_unit['_source'][attribute] %>

                  <% end %>
                  <% end %>
                <%end%>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    <%= hidden_field_tag 'data_id', @dataset.id %>
    </tbody>
  </table>
<% end %>

<% end %>
