

<%= render "navigation" %>
<!--
<% if flash[:data_creation] %>
  <div class="positive_flash">
    <%= flash[:data_creation] %>
  </div>
<% end %>
-->
<%= render "dataset_desc" %>

<% human_labeled_count = 0 %>
<% min_confidence = 0 %>
<% min_confidence = params[:min_confidence].to_f unless params[:min_confidence] == nil %>
<% human_auto_compatibility = 0%>

<% if @dataset.data_type == "image" %>
<% c = 1 %>
<table class="ui sortable celled table">
<thead>
  <tr>
    <th><b>#</b></th>
    <th><b>Image</th>
    <th><b>Auto Label</th>
    <th><b>Human Label</th>
  </tr>
</thead>
<tbody>

<% if %>
<% @data['hits']['hits'].count > 0 %>
<% all_auto_labelled = true %>
<% else %>
<i>Your data is being loadded</i>
<% end %>



<% @data['hits']['hits'].each do |data_unit| %>



<% if c == @dataset.inputs_count and @dataset.status == 'processing' %>
<% @dataset.update(status:"ready")%>
<script type="text/javascript">
  alert("You dataset has successfully been saved")
  location.reload();
</script>
<% end %>

<% if data_unit['_source']['auto_label'] == nil || data_unit['_source']['auto_label'] == '' %>
<% all_auto_labelled = false %>
<% end %>
<% if data_unit['_source']['es_id'] == @dataset.es_id %>

<%image_file_name= data_unit['_source']['image_file'] %>

<% if  (data_unit['_source']['auto_proba'] == nil )|| ((data_unit['_source']['auto_proba'].to_f).round(2)*100 > min_confidence) %>
<% c+=1%>
<tr>

  <td>
    <br>
    <%= image_file_name %>

  </td>
  <td>
  <img class="ui small image" src="/datasets/<%= @dataset.es_id+'/'+image_file_name %>" style="border-radius:5px">
  <br>

  </td>

  <td>
    <% if data_unit['_source']['auto_label']!= nil and data_unit['_source']['auto_label'] != '' %>
    <% auto_label = data_unit['_source']['auto_label'] %>
    Auto:<%=data_unit['_source']['auto_label'] %>
  <br>



    <% progress_value = (data_unit['_source']['auto_proba'].to_f).round(2)*100 %>

    <% if progress_value<50 %>
    <% color='red'%>
    <% elsif  progress_value<70%>
    <% color='yellow'%>
    <% else %>
    <% color='green'%>
    <% end %>

<%= (data_unit['_source']['auto_proba'].to_f*100).round(2) %>%
    <div class="ui <%= color %> progress">

      <div class="bar" style="width:<%= progress_value.to_s+ "%" %>">
        <div class="progress">
</div>

      </div>
    </div>
<% end %>

  </td>
  <td>
    <% human_label = data_unit['_source'][@human_label_key]%>
    <% if human_label!='empty'%>
    <%= human_label %>
      <% human_labeled_count +=1 %>
    <% end %>
    <% if human_label == auto_label%>
    <% human_auto_compatibility +=1 %>

    <% end %>
  </td>
</tr>
<% end %>
<% end %>
<% end %>
<tbody>
<table>



<% else %>

<% attributes = [] %>
<% @data['hits']['hits'][0]['_source'].each do |attribute| %>
  <% attributes << attribute[0] %>
<% end %>
<% @c=0%>
<% @g=0%>
<% @u=1%>

<table class="ui sortable celled table">
<thead>
  <tr>
    <th>#</th>
    <% attributes.each do |attribute| %>
      <% if attribute != 'es_id'%>
        <% if attribute == @human_label_key%>
          <th><%= 'Human label'  %></th>
        <% elsif attribute=='auto_proba'
          %>
          <th>Confidence</th>
        <% else %>
          <th><%= attribute  %></th>
        <% end %>
      <% end %>
    <% end %>
  </tr>
  </thead>
  <tbody>

  <% all_auto_labelled = true %>
  <% @data['hits']['hits'].each do |data_unit| %>
  <% all_auto_labelled = true %>

    <% if data_unit['_source'][@human_label_key] != 'empty' %>
      <% @u+=1%>
    <% end %>
    <% @c+=1%>


    <% if @dataset.inputs_count == @c and @dataset.status== "processing"%>

     <% @dataset.update(status:"ready")%>
    <% end %>


    <tr>
      <td><%= @c %></td>
      <% attributes.each do |attribute| %>



     <% if data_unit['_source']['auto_label'] == '' || data_unit['_source']['auto_label'] == nil %>
     <% all_auto_labelled = false %>
     <% end %>


        <% if attribute != 'es_id'%>
          <% if data_unit['_source']['Class/ASD Traits '] == 'Yes'%>
            <% @t = 1%>
          <% else %>
            <% @t = 0 %>
          <% end %>
          <% @condition = (attribute == 'auto_label' and ( (data_unit['_source'][attribute] == 'kid' and data_unit['_source']['age'].to_i <10) or (data_unit['_source'][attribute] == 'adult' and data_unit['_source']['age'].to_i >= 10))) %>
          <% @condition = (attribute == 'auto_label' and ( (data_unit['_source'][attribute].to_s == data_unit['_source']['Class/ASD Traits ']))) %>
          <% if  @condition %>
            <% @g+=1%>
            <td ><div style="background-color:lime"><%= data_unit['_source'][attribute] unless (attribute==@human_label_key and data_unit['_source'][attribute]=='empty') %></div></td>
          <% else %>
            <td>
              <% if attribute!= @human_label_key and data_unit['_source'][attribute]!='empty'%>
                <% if attribute == 'auto_proba' %>
                  <% if data_unit['_source']['auto_proba']!= nil and data_unit['_source']['auto_proba'] != '' %>

                    <%= (data_unit['_source'][attribute].to_f*100).round(2) %>
                    <% progress_value = (data_unit['_source'][attribute].to_f).round(2)*100 %>
                    <% if progress_value < 50 %>
                      <% color='red'%>
                    <% elsif  progress_value<70%>
                      <% color='yellow'%>
                    <% else %>
                      <% color='green'%>
                    <% end %>
                    <div class="ui <%= color %> progress">
                      <div class="bar" style="width:<%= progress_value.to_s+ "%" %>"></div>
                    </div>
                  <% end %>
                <% elsif attribute == 'auto_label' %>
                <% else %>
                  <%= data_unit['_source'][attribute] %>
                <% end %>
              <% end %>
              <% if (attribute == @human_label_key and data_unit['_source'][attribute]!='empty') or (attribute == "auto_label" and data_unit['_source'][attribute]!='')%>
                <%if data_unit['_source'][attribute]=='good' %>
                  <span style="background-color: lime;padding:1px;padding-right:4px;padding-left:4px;border-radius:2px;align-content: center;"><%= data_unit['_source'][attribute] %></span>
                <% elsif data_unit['_source'][attribute]=='bad' %>
                  <span style="background-color: orangered;padding:1px;padding-right:4px;padding-left:4px;border-radius:2px;align-content: center;"><%= data_unit['_source'][attribute] %></span>
                  <%else%>
                  <%= data_unit['_source'][attribute] %>
                  <% end %>




              <% end %>

            </td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
    </tbody>
</table>

<% end %>

<br>
<% @dataset.update(:human_labels_count => @u) %>




<% if all_auto_labelled == true %>

<% @dataset.update(:status => "ready") %>

<% end %>

<% human_auto_compatibility %>
<br>
<% human_labeled_count %>
<br>

<% human_auto_compatibility*1.1/human_labeled_count %>
