


<% if flash[:data_creation] %>
  <div class="positive_flash">
    <%= flash[:data_creation] %>
  </div>
  <br>
<% end %>

<%= render "dataset_desc" %>


<br>

<%= render "navigation" %>

<br>

<% attributes = [] %>
<% @data['hits']['hits'][0]['_source'].each do |attribute| %>
  <% attributes << attribute[0] %>
<% end %>
<% @c=0%>
<% @g=0%>
<% @u=1%>

<table class="responsive-table">
  <tr style="background-color:#e2e6e9">
    <th>#</th>
    <% attributes.each do |attribute| %>
      <% if attribute != 'es_id'%>
        <% if attribute == @human_label_key%>
          <th><%= 'Human label'  %></th>
        <% elsif attribute=='auto_proba'
          %>
          <th>Confidence</th>
        <% else %>
          <th><%= attribute  %></th>
        <% end %>
      <% end %>
    <% end %>
  </tr>
  <% all_auto_labelled = true %>
  <% @data['hits']['hits'].each do |data_unit| %>

    <% if data_unit['_source'][@human_label_key] != 'empty' %>
      <% @u+=1%>
    <% end %>
    <% @c+=1%>
    <% if @dataset.inputs_count == @c and @dataset.status== "processing"%>
     <% @dataset.update(status:"ready")%>
    <% end %>
    <tr>
      <td><%= @c %></td>
      <% attributes.each do |attribute| %>



     <% if data_unit['_source']['auto_label'] == '' %>
     <% all_auto_labelled = false %>
     <% end %>


        <% if attribute != 'es_id'%>
          <% if data_unit['_source']['Class/ASD Traits '] == 'Yes'%>
            <% @t = 1%>
          <% else %>
            <% @t = 0 %>
          <% end %>
          <% @condition = (attribute == 'auto_label' and ( (data_unit['_source'][attribute] == 'kid' and data_unit['_source']['age'].to_i <10) or (data_unit['_source'][attribute] == 'adult' and data_unit['_source']['age'].to_i >= 10))) %>
          <% @condition = (attribute == 'auto_label' and ( (data_unit['_source'][attribute].to_s == data_unit['_source']['Class/ASD Traits ']))) %>
          <% if  @condition %>
            <% @g+=1%>
            <td ><div style="background-color:lime"><%= data_unit['_source'][attribute] unless (attribute==@human_label_key and data_unit['_source'][attribute]=='empty') %></div></td>
          <% else %>
            <td>
              <% if attribute!= @human_label_key and data_unit['_source'][attribute]!='empty'%>
                <% if attribute == 'auto_proba' %>
                  <%= (data_unit['_source'][attribute].to_f*100).round(2) %>%
                  <progress value="<%= (data_unit['_source'][attribute].to_f).round(2) %>" max="1"> >
                <% elsif attribute == 'auto_label' %>
                <% else %>
                  <%= data_unit['_source'][attribute] %>
                <% end %>
              <% end %>

              <% if (attribute == @human_label_key and data_unit['_source'][attribute]!='empty') or (attribute == "auto_label" and data_unit['_source'][attribute]!='')%>
                <%if data_unit['_source'][attribute]=='good' %>
                  <span style="background-color: lime;padding:1px;padding-right:4px;padding-left:4px;border-radius:2px;align-content: center;"><%= data_unit['_source'][attribute] %></span>
                <% elsif data_unit['_source'][attribute]=='bad' %>
                  <span style="background-color: orangered;padding:1px;padding-right:4px;padding-left:4px;border-radius:2px;align-content: center;"><%= data_unit['_source'][attribute] %></span>
                  <%else%>
                  <%= data_unit['_source'][attribute] %>
                  <% end %>




              <% end %>

            </td>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<!--
<%=@c%>
<br>
<%=@g%>
-->
<br>
<% @dataset.update(:human_labels_count => @u) %>

<% if all_auto_labelled == true %>

<% @dataset.update(:status => "ready") %>

<% end %>
