<!DOCTYPE html>
<html>
  <head>
    <title>Tornado [beta]</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class ="top_bar">

  <table width="100%">
    <tr>
      <td width="50%" style="text-align:left">
      <!--  <b><span style="font-size:34px;color:#9c8a5e">D</span><span style="font-size:32px;color:#9c8a5e">E</span><span style="font-size:30px;color:#9c8a5e">R</span><span style="font-size:28px;color:#9c8a5e">V</span><span style="font-size:30px;color:#9c8a5e">I</span><span style="font-size:32px;color:#9c8a5e">C</span><span style="font-size:34px;color:#9c8a5e">H</span></b>-->
      <!--  <b><span style="font-size:32px;color:#9c8a5e">T</span><span style="font-size:30px;color:#9c8a5e">O</span><span style="font-size:28px;color:#9c8a5e">R</span><span style="font-size:26px;color:#9c8a5e">N</span><span style="font-size:28px;color:#9c8a5e">A</span><span style="font-size:30px;color:#9c8a5e">D</span><span style="font-size:32px;color:#9c8a5e">O</span></b>-->
        <b><span style="font-size:32px;color:#24435c">T</span><span style="font-size:30px;color:#24435c">O</span><span style="font-size:28px;color:#24435c">R</span><span style="font-size:26px;color:#24435c">N</span><span style="font-size:28px;color:#24435c">A</span><span style="font-size:30px;color:#24435c">D</span><span style="font-size:32px;color:#24435c">O</span></b>


      </td>

      <td>
        <% if user_signed_in? %>
      <span style="font-size:12px">logged in as <%= current_user.email%> </span>
          <span style="decoration:none"><%= link_to('logout', destroy_user_session_path, method: :delete) %></span>
        <% else %>
          <%= link_to('login', new_user_session_path)  %>
        <% end %>
      </td>
    </tr>
  </table>
</div>


<div style="background-color:snow;font-size:12px">
<p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
 </div>

    <%= yield %>
  </body>
</html>
